body { font-family: Arial; background: #f4f4f4; margin: 0; }

.navbar { background: #222; padding: 10px; display: flex; gap: 20px; }
.navbar a { color: white; text-decoration: none; font-weight: bold; }
.navbar a:hover { color: yellow; }

.form-container, .table-container, .details-box, .delete-box {
  width: 50%; margin: 20px auto; background: white; padding: 20px;
  border-radius: 8px; box-shadow: 0 0 10px gray;
}

input, select, button { width: 100%; padding: 8px; margin-bottom: 10px; }
button { background: green; color: white; border: none; cursor: pointer; }
button:hover { opacity: 0.8; }

.error { color: red; font-size: 13px; }

table { width: 100%; border-collapse: collapse; }
th, td { padding: 10px; border: 1px solid #ddd; text-align: center; }

.btn { padding: 5px 8px; background: blue; color: white; text-decoration: none; border-radius: 4px; }
.delete { background: red !important; }
