 .error {
          color: red;
          font-size: 12px;
          margin-top: -5px;
          margin-bottom: 10px;
        }
        input, select {
          width: 100%;
          padding: 8px;
          margin-bottom: 10px;
          font-size: 20px;
        }
        label {
          font-weight: bold;
          font-size: 20px;
        }

        h2{
            font-size: 30px;
        }